<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Bursa <%= ilceAdi %> <%= mahalleAdi %> Escort</h1>
  <a href="<%= ilceUrl %>">&larr; <%= ilceAdi %> ilçesine dön</a>
</body>
</html>